<div class="w-full h-full flex flex-row">
	<!-- map -->
	<div
		[ngClass]="{ 'w-4/5': navigationIsOpen, 'w-full': !navigationIsOpen }"
		class="h-full relative"
	>
		<leaflet-demo class="absolute inset-0 z-0"></leaflet-demo>
		<button
			*ngIf="!navigationIsOpen"
			(click)="toggleNavigation()"
			class="fixed top-5 right-5 p-4 w-15 h-15 flex items-center justify-center bg-bLight shadow-lg rounded-md z-50 hover:opacity-90"
		>
			+
		</button>
	</div>
	<!-- navigation -->
	<div
		*ngIf="navigationIsOpen"
		[ngClass]="{
			'w-1/5 translate-x-0': navigationIsOpen,
			'w-0 -translate-x-full': !navigationIsOpen
		}"
		class="relative h-full bg-bDark shadow-md transition-transform duration-300 ease-out transform text-gray-100 overflow-y-auto p-4 border-r border-gray-700 scrollbar-thin-dark"
	>
		<span
			(click)="toggleNavigation()"
			class="absolute top-3 right-2 text-white cursor-pointer"
		>
			<img
				class="w-4 h-4 cursor-pointer"
				src="assets/images/icon/croix.png"
				alt="Fermer"
			/>
		</span>

		<nav class="p-4 space-y-6">
			<h2 class="text-xl font-bold mb-4 flex items-center space-x-2">
				<img
					class="w-12 h-12 mr-2 cursor-pointer"
					src="assets/images/logo.png"
					alt="Logo"
				/>
				Locate Them
			</h2>

			<hr class="bg-white" />

			<ul class="space-y-4">
				<li>
					<a
						href="#"
						class="flex items-center space-x-3 text-gray-200 hover:no-underline hover:text-gray-400"
					>
						<img
							src="assets/images/icon/vehicles.png"
							alt="Favoris"
							class="w-6 h-6"
						/>
						<span>Mes véhicules</span>
					</a>

					<!-- Bouton pour ajouter un nouveau véhicule -->
					<div class="flex justify-center items-center mt-2">
						<button
							(click)="openVehicleModal()"
							class="flex items-center px-3 py-1 bg-bLight text-bDark rounded-lg hover:bg-gray-100 transition-colors duration-200 ease-in-out"
						>
							<img
								src="assets/images/icon/plus.png"
								alt="Ajouter"
								class="w-4 h-4 mr-3 mt-0.5"
							/>
							<span>Ajouter un véhicule</span>
						</button>
					</div>

					<!-- Modale pour le formulaire d'ajout de véhicule -->
					<div
						*ngIf="isVehicleModalOpen"
						class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
					>
						<div
							class="bg-white p-6 rounded-lg shadow-lg w-full max-w-lg"
						>
							<!-- En-tête de la modale -->
							<div
								class="flex justify-between items-center border-b pb-3"
							>
								<h3 class="text-lg text-gray-500 font-semibold">
									Nouveau véhicule
								</h3>
								<button
									(click)="closeVehicleModal()"
									class="text-gray-500 hover:text-gray-700"
								>
									<span class="text-2xl font-bold"
										>&times;</span
									>
								</button>
							</div>

							<!-- Formulaire d'ajout de véhicule -->
							<form (submit)="addVehicle()">
								<div class="mt-4 space-y-4">
									<!-- Champ pour la plaque d'immatriculation -->
									<div>
										<label
											class="block text-sm font-medium text-gray-700"
											>Plaque d'immatriculation</label
										>
										<input
											type="text"
											[(ngModel)]="
												newVehicle.vehicle_informations
													.license_plate
											"
											name="license_plate"
											class="mt-1 px-3 py-2 border border-gray-300 rounded-md w-full text-bDark"
											placeholder="Ex: AN-256-CN"
											required
										/>
									</div>

									<!-- Autres champs de saisie du formulaire -->
									<!-- Ajoutez chaque champ selon vos besoins, par exemple : -->
									<div>
										<label
											class="block text-sm font-medium text-gray-700"
											>Fabricant</label
										>
										<input
											type="text"
											[(ngModel)]="
												newVehicle.vehicle_informations
													.manufacturer
											"
											name="manufacturer"
											class="mt-1 px-3 py-2 border border-gray-300 rounded-md w-full text-bDark"
											placeholder="Ex: Peugeot"
											required
										/>
									</div>
									<!-- Champ du modèle du véhicule -->
									<div>
										<label
											class="block text-sm font-medium text-gray-700"
											>Modèle</label
										>
										<input
											type="text"
											[(ngModel)]="
												newVehicle.vehicle_informations
													.car_model
											"
											name="car_model"
											class="mt-1 px-3 py-2 border border-gray-300 rounded-md w-full text-bDark"
											placeholder="Ex: 207"
											required
										/>
									</div>

									<!-- Champ pour la couleur du véhicule -->
									<div>
										<label
											class="block text-sm font-medium text-gray-700"
											>Couleur</label
										>
										<input
											type="text"
											[(ngModel)]="
												newVehicle.vehicle_informations
													.color
											"
											name="color"
											class="mt-1 px-3 py-2 border border-gray-300 rounded-md w-full text-bDark"
											placeholder="Ex: Blanc"
										/>
									</div>

									<!-- Année et capacité du véhicule -->
									<div>
										<label
											class="block text-sm font-medium text-gray-700"
											>Année</label
										>
										<input
											type="number"
											[(ngModel)]="
												newVehicle.vehicle_informations
													.year
											"
											name="year"
											class="mt-1 px-3 py-2 border border-gray-300 rounded-md w-full text-bDark"
											placeholder="Ex: 2023"
										/>
									</div>

									<div>
										<label
											class="block text-sm font-medium text-gray-700"
											>Capacité</label
										>
										<input
											type="number"
											[(ngModel)]="
												newVehicle.vehicle_informations
													.capacity
											"
											name="capacity"
											class="mt-1 px-3 py-2 border border-gray-300 rounded-md w-full text-bDark"
											placeholder="Ex: 4"
										/>
									</div>
								</div>

								<!-- Boutons de soumission et d'annulation -->
								<div class="flex justify-end mt-6">
									<button
										type="button"
										(click)="closeVehicleModal()"
										class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg mr-3"
									>
										Annuler
									</button>
									<button
										type="submit"
										class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600"
									>
										Ajouter
									</button>
								</div>
							</form>
						</div>
					</div>

					<div class="w-full mt-2">
						<div
							*ngFor="let vehicle of vehicles"
							(click)="toggleDetails(vehicle)"
							class="card bg-bLight text-bDark border border-gray-500 rounded-lg cursor-pointer transition-all duration-300 ease-in-out mb-1 h-"
							[class.h-19]="!vehicle.showDetails"
							[class.h-auto]="vehicle.showDetails"
						>
							<!-- Vue compacte de la card -->
							<div class="pl-2 flex items-center space-x-2">
								<img
									[src]="
										'assets/images/icon/car_icons/' +
										vehicle.vehicle_informations.color +
										'.png'
									"
									alt="image de voiture"
									class="w-5 h-5"
								/>
								<h3
									class="text-sm font-light text-gray-800 ml-4"
									style="margin-top: 5px"
								>
									{{
										vehicle.vehicle_informations
											.license_plate
									}}
									<span
										[class.text-green-500]="
											vehicle.options.autoGpsEnabled
										"
										[class.text-red-500]="
											!vehicle.options.autoGpsEnabled
										"
										class="uppercase font-bold"
										style="font-size: 0.5rem"
										>(Tracked{{
											vehicle.options.autoGpsEnabled
												? ""
												: " OFF"
										}})</span
									>
								</h3>
							</div>
							<div class="pl-2 text-xs text-gray-600">
								<p class="mb-0">
									Moteur
									<span
										class="uppercase font-semibold"
										[ngClass]="{
											'text-green-500':
												vehicle.vehicle_status
													.engine_on,
											'text-red-500':
												!vehicle.vehicle_status
													.engine_on
										}"
										>{{
											vehicle.vehicle_status.engine_on
												? "allumé"
												: "éteint"
										}}</span
									>
								</p>
								<p class="mb-2">
									{{ vehicle.assigned_employee.role }} -
									{{ vehicle.assigned_employee.name }}
								</p>
							</div>

							<!-- Détails supplémentaires, affichés si la card est ouverte -->
							<div
								*ngIf="vehicle.showDetails"
								class="p-2 border-t border-gray-300 text-xs text-gray-600 bg-gray-50"
							>
								<p class="mb-1 font-semibold uppercase">
									{{
										vehicle.vehicle_informations
											.manufacturer
									}}
									{{ vehicle.vehicle_informations.car_model }}
								</p>
								<p class="mb-1">
									<span class="underline decoration-blue-800"
										>Année</span
									>
									: {{ vehicle.vehicle_informations.year }}
								</p>
								<p class="mb-1">
									<span
										class="underline decoration-fuchsia-500"
										>Capacité</span
									>
									:
									{{ vehicle.vehicle_informations.capacity }}
								</p>
								<p class="mb-1"></p>
								<p class="mb-1">
									<span class="underline decoration-teal-400"
										>Couleur</span
									>
									:
									{{ vehicle.vehicle_informations.color }}
								</p>
								<p class="mb-1">
									<span
										class="underline decoration-indigo-400"
										>Localisation</span
									>
									:
									{{
										vehicle.vehicle_status.current_location
											.latitude
									}},
									{{
										vehicle.vehicle_status.current_location
											.longitude
									}}
								</p>
								<p class="mb-1">
									<span
										class="underline decoration-purple-400"
										>Contact</span
									>
									:
									{{ vehicle.assigned_employee.phone_number }}
								</p>
								<hr />
								<h3 class="text-xs">Actions véhicules :</h3>
								<div
									class="w-full h-30 flex flex-row flex-wrap justify-center"
								>
									<div
										class="flex flex-col items-center"
										(click)="$event.stopPropagation()"
									>
										<div
											(click)="toggleGps(vehicle)"
											[class.bg-green-500]="
												vehicle.options.autoGpsEnabled
											"
											[class.bg-red-500]="
												!vehicle.options.autoGpsEnabled
											"
											class="flex justify-center ml-2 mt-2 mr-2 items-center w-12 h-12 border rounded-lg border-gray-100 shadow bg-green-500 transition-transform transform hover:scale-110 hover:shadow-lg"
										>
											<img
												src="assets/images/icon/gps.png"
												alt="Carte"
											/>
										</div>
										<span class="mb-2">
											<small
												class="font-bold text-xs uppercase"
												>Live</small
											>
										</span>
									</div>
									<div
										class="flex flex-col items-center"
										(click)="$event.stopPropagation()"
									>
										<div
											[ngClass]="{
												'bg-green-500':
													vehicle.vehicle_status
														.engine_on,
												'bg-red-500':
													!vehicle.vehicle_status
														.engine_on
											}"
											class="flex justify-center ml-2 mt-2 mr-2 items-center w-12 h-12 border rounded-lg border-gray-100 shadow bg-white transition-transform transform hover:scale-110 hover:shadow-lg"
										>
											<img
												src="assets/images/icon/alerte.png"
												alt="Carte"
											/>
										</div>
										<span class="mb-2">
											<small
												class="font-bold text-xs uppercase"
												>Alertes</small
											>
										</span>
									</div>
									<div
										class="flex flex-col items-center"
										(click)="$event.stopPropagation()"
									>
										<div
											[ngClass]="{
												'bg-green-500':
													vehicle.vehicle_status
														.engine_on,
												'bg-red-500':
													!vehicle.vehicle_status
														.engine_on
											}"
											class="flex justify-center ml-2 mt-2 mr-2 items-center w-12 h-12 border rounded-lg border-gray-100 shadow bg-white transition-transform transform hover:scale-110 hover:shadow-lg"
										>
											<img
												src="assets/images/icon/edit.png"
												alt="Carte"
											/>
										</div>
										<span class="mb-2">
											<small
												class="font-bold text-xs uppercase"
												>Editer</small
											>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>

				<li>
					<a
						href="#"
						class="flex items-center space-x-3 text-gray-200 hover:no-underline hover:text-gray-400"
					>
						<img
							src="assets/images/icon/alerte.png"
							alt="Favoris"
							class="w-6 h-6"
						/>
						<span
							><span class="line-through">Alertes</span>
							(Bientôt)</span
						>
					</a>
				</li>
				<li>
					<a
						href="#"
						class="flex items-center space-x-3 text-gray-200 hover:no-underline hover:text-gray-400"
					>
						<img
							src="assets/images/icon/configuration.png"
							alt="Aide"
							class="w-6 h-6"
						/>
						<span
							><span class="line-through">Configuration</span>
							(Bientôt)</span
						>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!-- <app-vehicle-table></app-vehicle-table> -->
