<!-- Conteneur pour le logo et l'icône de fermeture -->
<div class="sticky top-0 z-10 bg-gray-900 p-4">
	<span
		(click)="toggleNavigationIsOpen()"
		class="absolute top-3 right-2 text-white cursor-pointer"
	>
		<img
			class="w-4 h-4 cursor-pointer"
			src="assets/images/icon/croix.png"
			alt="Fermer"
		/>
	</span>

	<!-- Logo et titre de la navigation -->
	<h2 class="text-xl font-bold flex items-center space-x-2">
		<img
			class="w-12 h-12 mr-2 cursor-pointer"
			src="assets/images/logo.png"
			alt="Logo"
		/>
		Locate Them
	</h2>
</div>

<!-- Contenu de la navigation -->
<nav class="p-4 space-y-6">
	<hr class="bg-white" />
	<app-vehicle-list [vehicles]="vehicles"></app-vehicle-list>
	<ul class="space-y-4">
		<li>
			<a
				href="#"
				class="flex items-center space-x-3 text-gray-200 hover:no-underline hover:text-gray-400"
			>
				<img
					src="assets/images/icon/alerte.png"
					alt="Alertes"
					class="w-6 h-6"
				/>
				<span><span class="line-through">Alertes</span> (Bientôt)</span>
			</a>
		</li>
		<li>
			<a
				href="#"
				class="flex items-center space-x-3 text-gray-200 hover:no-underline hover:text-gray-400"
			>
				<img
					src="assets/images/icon/configuration.png"
					alt="Configuration"
					class="w-6 h-6"
				/>
				<span
					><span class="line-through">Configuration</span>
					(Bientôt)</span
				>
			</a>
		</li>
	</ul>
</nav>
