<div class="flex items-center justify-center min-h-screen">
	<form
		(ngSubmit)="login()"
		class="w-full max-w-md bg-bLight rounded-lg shadow-lg p-6"
		autocomplete="off"
	>
		<div class="flex justify-center mb-4">
			<img
				src="assets/images/logo.png"
				alt="logo locate-them"
				class="h-24 w-24 object-contain"
			/>
		</div>
		<h2 class="text-2xl font-bold mb-6 text-gray-900">Se connecter</h2>
		<div class="mb-4">
			<label
				for="email"
				class="block mb-2 text-sm font-medium text-gray-900"
				>Email</label
			>
			<input
				type="email"
				id="email"
				name="email"
				[(ngModel)]="loginForm.email"
				class="bg-gray-50 border border-gray-300 text-[#111827] text-sm rounded-lg focus:ring-[#111827] focus:border-[#111827] block w-full p-2.5"
				placeholder="name@locate-them.com"
				autocomplete="off"
				required
			/>
		</div>
		<div class="mb-3">
			<label
				for="password"
				class="block mb-2 text-sm font-medium text-gray-900"
				>Mot de passe</label
			>
			<input
				type="password"
				id="password"
				name="password"
				[(ngModel)]="loginForm.password"
				class="bg-gray-50 border border-gray-300 text-[#111827] text-sm rounded-lg focus:ring-[#111827] focus:border-[#111827] block w-full p-2.5"
				placeholder="************"
				autocomplete="off"
				required
			/>
		</div>
		<div class="flex items-center justify-between mb-5">
			<div class="flex items-center">
				<input
					id="remember"
					type="checkbox"
					name="stayLogin"
					[(ngModel)]="loginForm.stayLogin"
					autocomplete="off"
					class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 checked:bg-[#111827] focus:ring-[#111827]"
				/>
				<label
					for="remember"
					class="ml-3 mb-0 text-sm font-medium text-gray-900"
					>Se souvenir de moi</label
				>
			</div>
		</div>
		<div>
			<p
				*ngIf="formError.wrong"
				class="text-red-600 text-[12px] font-bold uppercase mt-2"
			>
				Identifiant incorrect !
			</p>
			<p
				*ngIf="formError.format"
				class="text-red-600 text-[12px] font-bold uppercase mt-2"
			>
				Format des données invalide !
			</p>
			<p
				*ngIf="formError.bot"
				class="text-red-600 text-[12px] font-bold uppercase mt-2"
			>
				Connexion suspecte détectée !
			</p>
			<p
				*ngIf="formError.user_not_found"
				class="text-red-600 text-[12px] font-bold uppercase mt-2"
			>
				Utilisateur introuvable !
			</p>
			<p
				*ngIf="formError.company_not_found"
				class="text-red-600 text-[12px] font-bold uppercase mt-2"
			>
				Entreprise introuvable !
			</p>
			<p
				*ngIf="formError.company_not_confirmed"
				class="text-red-600 text-[12px] font-bold uppercase mt-2"
			>
				Entreprise non confimer !
				<small
					><a
						[routerLink]="[
							'/auth/first-connection-company/',
							tempCompanyName
						]"
						class="text-gray-900 hover:text-gray-700"
						>Confirmer votre entreprise ici</a
					></small
				>
			</p>
		</div>
		<button
			type="submit"
			class="w-full bg-darkk hover:bg-bDark text-[#fff] hover:text-[#111827] focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
		>
			Connexion
		</button>
	</form>
</div>
