@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html,
body {
	width: 100%;
}

body {
	height: 100vh;
}

leaflet-demo {
	z-index: 0 !important; /* S'assurer que la carte reste en arrière-plan */
}

/* Styles pour une scrollbar fine et sombre */
.scrollbar-thin-dark::-webkit-scrollbar {
	width: 6px;
}

.scrollbar-thin-dark::-webkit-scrollbar-track {
	background: #1f2937; /* Couleur du track (ici bg-gray-800) */
}

.scrollbar-thin-dark::-webkit-scrollbar-thumb {
	background-color: #4b5563; /* Couleur de la barre (ici bg-gray-600) */
	border-radius: 4px;
}
