<div class="w-full h-screen flex flex-col items-center">
	<form (ngSubmit)="firstConnectionCompany()">
		<div class="relative top-[70px]">
			<!-- Logo centré -->
			<div class="">
				<img
					src="assets/images/logo.png"
					alt="Logo"
					class="w-[300px]"
				/>
			</div>

			<!-- Contenu du formulaire -->
			<div class="w-[300px]">
				<div class="mb-3 text-center">
					<h1 class="text-lg uppercase">
						{{ firstConnectionCompanyForm.companyName }}
					</h1>
				</div>
				<div class="">
					<h1 class="text-xl font-bold text-blue-600 mb-3">
						Bienvenue sur
						<span class="text-gray-800">"Locate-Them"</span>
					</h1>
					<p class="text-sm text-gray-700">
						Votre solution pour une gestion efficace et intuitive de
						votre flotte de véhicules !
					</p>
				</div>
				<div class="mb-3">
					<label
						for="password"
						class="block text-sm font-medium text-gray-900 mb-2"
					>
						Mot de passe
					</label>
					<input
						type="password"
						id="password"
						name="password"
						[(ngModel)]="firstConnectionCompanyForm.password"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-[#111827] focus:border-[#111827] block w-full p-2.5 uppercase"
						placeholder="••••••••••"
						autocomplete="off"
						required
					/>
				</div>
				<div class="w-full flex justify-center">
					<button
						type="submit"
						class="text-white bg-gray-900 hover:opacity-90 focus:ring-4 focus:outline-none font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center text-xs uppercase flex flex-row justify-center items-center"
					>
						<span class="mr-3">C'est parti !</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							class="size-6 stroke-[#D9F1F6]"
						>
							<path
								stroke-linecap="round"
								stroke-linejoin="round"
								d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
							/>
						</svg>
					</button>
				</div>
			</div>

			<div class="cursor-pointer">
				<p
					class="text-red-600 font-xs mt-1"
					*ngIf="firstConnectionCompanyFormError.wrong"
				>
					Identifiant incorrect !
				</p>
				<p
					class="text-red-600 font-xs mt-1"
					*ngIf="firstConnectionCompanyFormError.bot"
				>
					Connexion suspecte détectée !
				</p>
				<p
					*ngIf="firstConnectionCompanyFormError.format"
					class="text-red-600 font-xs mt-2"
				>
					Format des données invalide !
				</p>
				<p
					*ngIf="firstConnectionCompanyFormError.notFound"
					class="text-red-600 font-xs mt-2"
				>
					Entreprise introuvable !
				</p>
				<p
					*ngIf="firstConnectionCompanyFormError.companyConfirmed"
					class="text-red-600 font-xs mt-2"
				>
					Entreprise déjà confirmée !
					<small
						><a
							href="auth/login"
							class="text-gray-900 hover:text-gray-700"
							>Connectez-vous ici</a
						></small
					>
				</p>
			</div>
		</div>
	</form>
</div>
